.card-list {
    display: grid;
    gap: 30px;
    grid-template-areas: ". . . .";
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding-bottom: 50px;
} 

@media screen and (max-width: 1200px) {
    .card-list {
        grid-template-areas: ". . .";
    }
}

@media screen and (max-width: 992px) {
    .card-list {
        grid-template-areas: ". .";
    }
}

@media screen and (max-width: 670px) {
    .card-list {
        grid-template-areas: ".";
    }
}