@mixin filterButtonHover {
    position: relative;
    display: flex;
    padding: 10px;
    width: 200px;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: 0.5s;

    &:hover {
        background-color: #ccc;
        cursor: pointer;
    }
}

.filter {
  position: relative;
  display: grid;
  grid-template-areas: (". . .");
  justify-content: center;
  justify-items: center;
  gap: 10px;
  width: max-content;
  padding: 20px;
  background-color: #e6e6e6;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 15px;

  // genres dropdown styles

  &__genres-dropdown {
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
    margin: 50px 0 0 0px;
    border-radius: 15px;
  }

  &__genres-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    background-color: #fff;
    width: 700px;
    height: 300px;
    border: 2px solid #ccc;
    border-radius: 4px;
    text-align: left;
  }

  &__genres-item {
    font-size: 15px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 4px;

    &::first-letter {
      text-transform: uppercase;
    }

    &:hover {
      cursor: pointer;
      border: 1px solid #ccc;
    }
  }

  &__button-genres-dark,
  &__button-years-dark,
  &__button-rating-dark {
    @include filterButtonHover();
    background-color: #ccc;
  }

  &__button-genres,
  &__button-years,
  &__button-rating {
    @include filterButtonHover();
    background-color: #ffffff;
  }

  &__button-icon-start {
    content: url("../pictures/arrow.svg");
    max-width: 15px;
    transform: rotateX(180deg);
  }

  &__button-icon {
    content: url("../pictures/arrow.svg");
    max-width: 15px;
    transform: rotateX(0);
  }

  // years dropdown styles

  &__years,
  &__rating {
    position: relative;
  }

  &__years-container,
  &__rating-container {
    width: 100%;
    background-color: #fff;
    position: absolute;
    z-index: 5;
    margin: 8px 0 0 0;
    border: 2px solid #ccc;
    border-radius: 4px;
    text-align: center;
  }

  &__years-item-selected,
  &__rating-item-selected {
    padding: 10px;
    border: 1px solid #4b6df6;
    background-color: #4b6df6;

    &:hover {
        cursor: pointer;
        border: 1px solid #ccc;
      }
  }

  &__years-item,
  &__rating-item {
    padding: 10px;
    border: 1px solid #fff;

    &:hover {
      cursor: pointer;
      border: 1px solid #ccc;
    }
  }

  // Rating dropdown styles


}
